{% extends 'base.html' %}
{% load staticfiles %}

{% block title%}查询界面{% endblock %}

{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-2 column">
		</div>
		<div class="col-md-8 column">
			<h2>查询界面</h2>
			<form method="post" action="/query_index/">
                {% if message %}
                    <div class="alter alter-warning">{{ message }}</div>
                {% endif %}
                {% csrf_token %}
                <div class="form-group">
                    {{ query_form.patient_name_or_id.label_tag }}
                    {{ query_form.patient_name_or_id }}
                </div>
                
                <button class="btn btn-primary" >查询</button>
                <!--<div class="form-group">-->
                    <!--{{ login_form.captcha.label_tag }}-->
                    <!--{{ login_form.captcha }}-->
                <!--</div>-->
            </form>

            
		</div>
		<div class="col-md-2 column">
		</div>
	</div>
</div>
{% endblock %}