{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>报告管理界面</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/bootstrap-datetimepicker.min.js' %}">

</head>
<body>
<div class="container-fluid">
	{% include "topnav.html" %}


    {% block content %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-2 column">
				</div>
				<div class="col-md-8 column">
				{% if total_query_num == 0 %}
					<div>
						<h4>没有查到相关检测报告</h4>
					</div>
				{% else %}
					<!--淋巴-->
					{% if lym_items_num != 0 %}
					<div style="border:1px solid #000000;box-shadow:0 0 5px #C0C0C0;">
						<h4 align="center">淋巴细胞亚群</h4>
						<table class="table table-hover">
							<thead>
								<tr>
									<td>姓名</td>
									<td>ID</td>
									<td>报告时间</td>
									<td>查看</td>
									<td>删除</td>
								</tr>

							</thead>
							<tbody>
								{% for i in lym_items %}
								<tr>
									<td>{{ i.patient_name }}</td>
									<td>{{ i.patient_ID }}</td>
									<td>{{ i.patient_RPmtime }}</td>
									<td><a href="{{ i.patient_url }}" target="_blank">查看</a></td>
									<td><a href="{{ i.patient_delete_url }}" target="_blank">删除</a></td>
								</tr>

								{% endfor %}
							</tbody>
						</table>
					</div>
					<br>
					{% endif %}
					<!--B27-->
					{% if b27_items_num != 0 %}
					<div style="border:1px solid #000000;box-shadow:0 0 5px #C0C0C0;">
						<h4 align="center">人类白细胞B27测定</h4>
						<table class="table table-hover">
							<thead>
								<tr>
									<td>姓名</td>
									<td>ID</td>
									<td>检测时间</td>
									<td>查看</td>
									<td>删除</td>
								</tr>

							</thead>
							<tbody>
								{% for i in b27_items %}
								<tr>
									<td>{{ i.patient_name }}</td>
									<td>{{ i.patient_ID }}</td>
									<td>{{ i.patient_RPmtime }}</td>
									<td><a href="{{ i.patient_url }}" target="_blank">查看</a></td>
									<td><a href="{{ i.patient_delete_url }}" target="_blank">删除</a></td>
								</tr>

								{% endfor %}
							</tbody>
						</table>
					</div>
					<br>
					{% endif %}
					<!--TH-->
					<div style="border:1px solid #000000;box-shadow:0 0 5px #C0C0C0;">
						<h4 align="center">群体抗体反应</h4>
						<table class="table table-hover">
							<thead>
								<tr>
									<td>姓名</td>
									<td>ID</td>
									<td>检测时间</td>
									<td>查看</td>
									<td>删除</td>
								</tr>

							</thead>
							<tbody>
								{% for i in th_items %}
								<tr>
									<td>{{ i.patient_name }}</td>
									<td>{{ i.patient_ID }}</td>
									<td>{{ i.patient_RPmtime }}</td>
									<td><a href="{{ i.patient_url }}" target="_blank">查看</a></td>
									<td><a href="{{ i.patient_delete_url }}" target="_blank">删除</a></td>
								</tr>

								{% endfor %}
							</tbody>
						</table>
					</div>
					<br>
					{% if fbkt_items_num != 0 %}
					<!--FBKT-->
					<div style="border:1px solid #000000;box-shadow:0 0 5px #C0C0C0;">
						<h4 align="center">封闭抗体检测</h4>
						<table class="table table-hover">
							<thead>
								<tr>
									<td>姓名</td>
									<td>ID</td>
									<td>检测时间</td>
									<td>查看</td>
									<td>删除</td>
								</tr>

							</thead>
							<tbody>
								{% for i in fbkt_items %}
								<tr>
									<td>{{ i.patient_name }}</td>
									<td>{{ i.patient_ID }}</td>
									<td>{{ i.patient_RPmtime }}</td>
									<td><a href="{{ i.patient_url }}" target="_blank">查看</a></td>
									<td><a href="{{ i.patient_delete_url }}" target="_blank">删除</a></td>
								</tr>

								{% endfor %}
							</tbody>
						</table>
					</div>
					<br>
					{% endif %}
					<!--JIEHE-->
					{% if jiehe_items_num != 0 %}
					<div style="border:1px solid #000000;box-shadow:0 0 5px #C0C0C0;">
						<h4 align="center">结核T细胞</h4>
						<table class="table table-hover">
							<thead>
								<tr>
									<td>姓名</td>
									<td>ID</td>
									<td>检测时间</td>
									<td>查看</td>
									<td>删除</td>
								</tr>

							</thead>
							<tbody>
								{% for i in jiehe_items %}
								<tr>
									<td>{{ i.patient_name }}</td>
									<td>{{ i.patient_ID }}</td>
									<td>{{ i.patient_RPmtime }}</td>
									<td><a href="{{ i.patient_url }}" target="_blank">查看</a></td>
									<td><a href="{{ i.patient_delete_url }}" target="_blank">删除</a></td>
								</tr>

								{% endfor %}
							</tbody>
						</table>
					</div>
					<br>
					{% endif %}
					<!--CD34-->
					{% if cd34_items_num != 0 %}
					<div style="border:1px solid #000000;box-shadow:0 0 5px #C0C0C0;">
						<h4 align="center">造血干细胞检测</h4>
						<table class="table table-hover">
							<thead>
								<tr>
									<td>姓名</td>
									<td>ID</td>
									<td>检测时间</td>
									<td>查看</td>
									<td>删除</td>
								</tr>

							</thead>
							<tbody>
								{% for i in cd34_items %}
								<tr>
									<td>{{ i.patient_name }}</td>
									<td>{{ i.patient_ID }}</td>
									<td>{{ i.patient_RPmtime }}</td>
									<td><a href="{{ i.patient_url }}" target="_blank">查看</a></td>
									<td><a href="{{ i.patient_delete_url }}" target="_blank">删除</a></td>
								</tr>

								{% endfor %}
							</tbody>
						</table>
					</div>
					<br>
					{% endif %}
					<!--IRP-->
					{% if irp_items_num != 0 %}
					<div style="border:1px solid #000000;box-shadow:0 0 5px #C0C0C0;">
						<h4 align="center">自身免疫性溶血</h4>
						<table class="table table-hover">
							<thead>
								<tr>
									<td>姓名</td>
									<td>ID</td>
									<td>检测时间</td>
									<td>查看</td>
									<td>删除</td>
								</tr>

							</thead>
							<tbody>
								{% for i in irp_items %}
								<tr>
									<td>{{ i.patient_name }}</td>
									<td>{{ i.patient_ID }}</td>
									<td>{{ i.patient_RPmtime }}</td>
									<td><a href="{{ i.patient_url }}" target="_blank">查看</a></td>
									<td><a href="{{ i.patient_delete_url }}" target="_blank">删除</a></td>
								</tr>

								{% endfor %}
							</tbody>
						</table>
					</div>
					{% endif %}
				</div>
				{% endif %}
				<div class="col-md-2 column">
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$("#query_time").datetimepicker({
    language:  "zh-CN",
    format: "yyyy-mm-dd hh:ii:ss",//显示格式
    minView: "hour",//设置只显示到月份
    initialDate: new Date(),//初始化当前日期
    autoclose: true,//选中自动关闭
    todayBtn: true, //显示今日按钮
    clearBtn : true,
    pickerPosition: "bottom-left"
});


function delete_this_rp() {
    // body...
    var url = this.href;
    $.ajax(url,{
        data:{
            'csrfmiddlewaretoken':'csrf_token'
        },
        type:'POST',
        success:function (response_data) {
            // body...
            if (response_data.status == 'success'){
                alert(response_data.message);
                window.location.reload();
            }
            else{
                alert(response_data.message);
            }
        },
        error:function (xhr,status,error) {
            alert(xhr.status+':'+xhr.status.Text);
        },
    });
};

</script>
    {% endblock %}

    {% include "footer.html" %}

</div>
</body>
</html>
