{% load staticfiles %}

<div class="container-fluid">
    <div class="row-fluid">
        <footer>
            <div class="footerflex footerup">
                <div class="footer-up-left">
                    <div>
                        <p><a href="www.xysw.com" target="_blank">© 析疑思维创作小组</a></p>
                        <div class="footer-up-left"><p><a href="\abooutus">关于我们</a></p></div>
                        <div class="footer-up-left"><p><a href="\terms">使用条款</a></p></div>
                        <div class="footer-up-left"><p><a href="\issues">意见建议</a></p></div>
                        <div class="footer-up-left"><p><a href="\cooperation">合作伙伴</a></p></div>
                    </div>
                </div>
                <div class="footer-up-right">
                    <div>
                        <p>&nbsp</p>
                        <div class=""><p><a href="\ad-service">&nbsp</a></p></div>
                        <div class=""><p><a href="\sponser">技术联系邮箱：woaileshi856@126.com</a></p></div>
                        <div class=""><p><a href="#">技术联系电话：869373</a></p></div>
                        <div class=""><p><span>技术解决请飞秋：&nbsp&nbspBA</span></p></div>
                    </div>
                </div>
                <div class="footer-up-right">
                    <div>
                        <div class="footer-img" >
                            <p>&nbsp</p>
                            <p><span><a href="\terms">微信公众号:实验室immune</a></span></p>
                            <img src="{% static 'images\zxsys.jpg' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footerbottom footerflex">
                <div class="bottom-left"><span>特别感谢：水圣</span></div>
                <div class="bottom-right"><span><a href="http://www.miitbeian.gov.cn">豫ICP备*********号</a></span><span>&nbsp析疑思维创作小组版权所有</span></div>
            </div>
        </footer>
    </div>
</div>


